# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/doc/api/
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/**/key.properties
*.iml
*.ipr
*.iws
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
coverage/
*.g.dart
*.freezed.dart
*.mocks.dart
melos_*.iml
